/* -------- GLOBAL STYLES -------- */
* {
    margin: 0;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

:root {
   --white: rgb(240, 240, 240); 
   --black: rgb(43, 43, 43);
   --red: rgb(185, 0, 0);
}

section {
    height: calc(100vh - 12em); /* makes each section exact height of vp minus borders*/
    background-color: var(--black);
    padding: 6em 3em 3em;
    border-bottom: var(--white) solid 3em; /* to show section separation on scroll (instead of fixed border)*/
    overflow: hidden; /* eliminates side scroll for content that hasn't loaded onto screen.*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

/* Photo by <a href="https://unsplash.com/@alexkixa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexandre Debiève</a> on <a href="https://unsplash.com/s/photos/technology?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
/* Photo by <a href="https://unsplash.com/@jstrippa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">James Harrison</a> on <a href="https://unsplash.com/s/photos/code?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@oskaryil?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Oskar Yildiz</a> on <a href="https://unsplash.com/s/photos/code?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@enginakyurt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">engin akyurt</a> on <a href="https://unsplash.com/s/photos/library?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@tvick?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Taylor Vick</a> on <a href="https://unsplash.com/s/photos/network?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */

/* -------- VIEWPORT BORDERS -------- */

#top, #right, #bottom, #left {
    background: var(--white);
    position: absolute; /* this with z-index makes content stay behind borders */
    z-index: 1;
}

#top {
    left: 0;
    right: 0;
    top: 0;
    height: 6em;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 3em;
}

#left { left: 0; }
#right { right: 0; }

/* -------- SCROLL SNAPPING -------- */

.scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
}

/* -------- MENU -------- */

#top {
    overflow: visible;
}

#logo {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 40px;
    z-index: 1;
    cursor: pointer;
    transition: transform 400ms ease-in-out;
}

#logo:hover,
#logo:focus {
    transform: rotateZ(360deg);
}

.menu-btn {
    font-size: 1.6rem;
    padding: 5px 10px;
    border: none;
    display: block;
    position: relative;
    margin: 1em auto 0;
    background: var(--white);
    z-index: 1;
    cursor: pointer;
}

.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: var(--red);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 300ms ease-in-out;
}

.underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar {
    height: 70px;
    width: calc(100vw - 5em);
    margin: auto;
    overflow: hidden;
    background: var(--white);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    transform: translateY(-100px);
    transition: transform 400ms ease-in-out;
    z-index: 0;
}

.navbar.show-menu {
    transform: translateY(0);
}

.menu-item {
    position: relative;
    list-style: none;
    margin-bottom: 1em;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 600ms ease-in-out, opacity 100ms ease-in;
}

.menu-item.show-menu {
    transform: translateY(0);
    opacity: 1;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
    font-size: 1.6rem;
}

/* -------- Page Styles -------- */

.page-header {
    font-family: "Noto Serif", serif;
    font-size: 3rem;
    color: var(--white);
    text-transform: capitalize;
    margin: 2em 0 0 20px;
    opacity: 0;
    transform: translateX(-100px) translateY(-50px);
    transition: all 500ms ease-in; /* add cubic-bezier intead of ease-in */
}

.page-subheader {
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.4em;
    color: var(--white);
    margin: .5em 0 0 20px;
    padding-left: 1em;
    border-left: solid var(--red) 5px;
    opacity: 0;
    transform: translateX(-100px) translateY(50px);
    transition: all 500ms ease-in;
}

.page-header.appear,
.page-subheader.appear {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

.content-area {
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transform: translateX(100px) translateY(-100px);
    transition: all 400ms ease-in;
}

.content-area.appear {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

/* --------Title Page-------- */

.title-container {
   background-image: url(img/james-harrison-vpOeXr5wmR4-unsplash.jpg);
}

h1 {
    color: var(--white);
}

.clay-photo {
    object-fit: cover;
    display: block;
    margin: 0 auto 3em;
    width: 60%;
    max-width: 350px;
    border: 10px solid var(--white);
}

/* -------- About Page -------- */

.about-container {
    background-image: url(img/oskar-yildiz-cOkpTiJMGzA-unsplash.jpg);
}

/* -------- Skills Page -------- */

.skills-container {
    background-image: url(img/engin-akyurt-o-99rrlwNVY-unsplash.jpg);
}

.tech-logos {
    width: 50%;
    max-width: 250px;
    display: none;
    margin: 0 auto;
}

.tech-logos.display {
    display: block;
    animation: appear 1500ms ease-in-out;
}

@keyframes appear {
    0% { opacity: 0; }
    40% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

/* -------- Work Page -------- */

.work-container {
    background-image: url(img/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg);
}

.carousel {
    position: relative;
    overflow: visible;
    height: 60%;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 350ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__slide-content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    margin: auto;
    height: 101%;
    width: 100%;
    transform: translateY(-100%);
    transition: opacity 300ms ease-in-out;
}

.carousel__header {
    margin: 25px auto;
    font-size: 2rem;
    font-family: "Nato Serif", serif;
    color: var(--white);
    text-transform: capitalize;
    padding-bottom: 3px;
    border-bottom: solid 4px var(--red);
}

.carousel__p {
    margin: 15px;
    color: var(--white);
    font-weight: 100;
    font-size: 1.6rem;
}

.carousel__slide-content:hover,
.carousel__slide-content:focus {
    opacity: 1;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
    background: var(--red);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.carousel__button--left {
    left: -25px;
}

.carousel__button--right {
    right: -25px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;

}

.carousel__indicator {
    border: 0;
    border-radius: 70%;
    width: 10px;
    height: 10px;
    background: var(--white);
    margin: 0 8px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: var(--red);
}

.is-hidden { display: none; }

/* -------- Contact Page -------- */

.contact-container {
    background-image: url(img/taylor-vick-M5tzZtFCOfs-unsplash.jpg);
}

.contact-form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

label {
    color: var(--white);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 100;
}

.form-inputs {
    width: 100%;
    margin: .5em 0 0 -0.5em;
    padding: .5em;
    border-radius: 4px;
    outline: none;
    background-color: var(--white);
    border:rgb(185, 0, 0) 1px solid;
}

.form-inputs:focus {
    background-color:rgb(220, 220, 220);
}

#submit-btn {
    background-color: rgb(185, 0, 0);
    color: var(--white);
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: 4px;
}

#submit-btn:hover,
#submit-btn:focus {
    border: var(--white) solid 1px;
}

/* ======= MEDIA QUERIES ======== */

@media (min-width: 500px) {
    * { font-size: 12px; }

    #logo {
        top: 12px;
        left: 16px;
        width: 40px;
    }
}

@media (min-width: 600px) {
    .clay-photo { margin: 0 3em 0 auto; }

    .tech-logos { margin: 0 3em 0 auto; }

    .page-header { margin: 2em 0 0 50px; }

    .page-subheader { margin: .5em 0 0 50px; }

    .carousel__button--left { left: -50px; }

    .carousel__button--right { right: -50px; }

    .carousel__button { padding: 5px 10px; }
}

@media (min-width: 1000px) {
    * { font-size: 14px; }

    #logo {
        top: 15px;
        left: 19px;
        width: 45px;
    }

    .page-header { margin: 2em 0 0 80px; }

    .page-subheader { margin: .5em 0 0 80px; }
}

@media (min-width: 1200px) {
    .page-header { font-size: 3.5rem; }
    .page-subheader { font-size: 1.8rem; }
}