/* -------- GLOBAL STYLES -------- */
* {
    margin: 0;
    font-size: 10px;
    font-family: sans-serif;
}

:root {
   --white: rgb(240, 240, 240); 
   --black: rgb(43, 43, 43);
}

section {
    height: calc(100vh - 12em); /* makes each section exact height of vp minus borders*/
    background-color: var(--black);
    padding: 6em 3em 3em;
    border-bottom: var(--white) solid 3em; /* to show section separation on scroll (instead of fixed border)*/
}

/* -------- VIEWPORT BORDERS -------- */

#top, #right, #bottom, #left {
    background: var(--white);
    position: fixed;
}

#top {
    left: 0;
    right: 0;
    top: 0;
    height: 6em;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 3em;
}

#left { left: 0; }
#right { right: 0; }

/* -------- SCROLL SNAPPING -------- */

.scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
}

/* -------- MENU -------- */

#top {
    overflow: visible;
}

#logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
}

.menu-btn {
    font-size: 1.6rem;
    padding: 5px 10px;
    border: none;
    display: block;
    margin: 1em auto 0;
    background: var(--white);
}

.navbar {
    height: 0;
    width: calc(100vw - 6em);
    margin: auto;
    overflow: hidden;
    background: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    transition: height 300ms ease-in-out;
}

.navbar.show-menu {
    height: 70px;
}

.menu-item {
    list-style: none;
    margin-bottom: 1em;
    cursor: pointer;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
    font-size: 1.6rem;
}

/* --------Title Page-------- */

h1 {
    color: var(--white);
}

/* ======= MEDIA QUERIES ======== */

@media (min-width: 400px) {

}

@media (min-width: 600px) {

}

@media (min-width: 1000px) {

}